<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vscode-project-manager</string>
	<key>category</key>
	<string>🔥DEV</string>
	<key>connections</key>
	<dict>
		<key>0D0EE41A-E6A9-41B8-BC59-FBA2100B2D58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7432DC9-B0D3-444E-B47C-5A375A1DF279</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62E74029-4927-4135-A98C-8C7E9886FF7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98F5D101-81AC-4C4B-8677-D93AF8E0B1FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F919AE3F-4813-4C3D-A5B5-EC094B34BA8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2B0CDE5D-8779-46B3-821B-A7590BFB39D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C20A999-5CDB-4858-9A19-AAD5DD636A95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A1C426-17B4-440B-B9B0-78B53B0E09C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F919AE3F-4813-4C3D-A5B5-EC094B34BA8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8C5DB00C-B0DD-4581-9517-E6ED72CADE59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7432DC9-B0D3-444E-B47C-5A375A1DF279</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C20A999-5CDB-4858-9A19-AAD5DD636A95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F919AE3F-4813-4C3D-A5B5-EC094B34BA8D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62E74029-4927-4135-A98C-8C7E9886FF7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hansanghyeon</string>
	<key>description</key>
	<string>Shortcut to open project with Project Manager in VSCode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VSCode Project Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Visual\ Studio\ Code.app/Contents/Resources/app/bin/code --folder-uri "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93A1C426-17B4-440B-B9B0-78B53B0E09C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:editor}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>vscode</string>
						<key>outputlabel</key>
						<string>vscode</string>
						<key>uid</key>
						<string>F919AE3F-4813-4C3D-A5B5-EC094B34BA8D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>windsurf</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7C20A999-5CDB-4858-9A19-AAD5DD636A95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/Applications/Windsurf.app/Contents/Resources/app/bin/windsurf --folder-uri "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8C5DB00C-B0DD-4581-9517-E6ED72CADE59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vsc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait</string>
				<key>script</key>
				<string>/usr/bin/python3 parser.py "{query}" "${editor}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open VSCode Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0D0EE41A-E6A9-41B8-BC59-FBA2100B2D58</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>vscode-remote.+</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>F919AE3F-4813-4C3D-A5B5-EC094B34BA8D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D7432DC9-B0D3-444E-B47C-5A375A1DF279</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>98F5D101-81AC-4C4B-8677-D93AF8E0B1FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:editor}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>vscode</string>
						<key>outputlabel</key>
						<string>vscode</string>
						<key>uid</key>
						<string>F919AE3F-4813-4C3D-A5B5-EC094B34BA8D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>windsurf</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>62E74029-4927-4135-A98C-8C7E9886FF7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Windsurf.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>2B0CDE5D-8779-46B3-821B-A7590BFB39D0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D0EE41A-E6A9-41B8-BC59-FBA2100B2D58</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>2B0CDE5D-8779-46B3-821B-A7590BFB39D0</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>62E74029-4927-4135-A98C-8C7E9886FF7A</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>7C20A999-5CDB-4858-9A19-AAD5DD636A95</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8C5DB00C-B0DD-4581-9517-E6ED72CADE59</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>93A1C426-17B4-440B-B9B0-78B53B0E09C3</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>98F5D101-81AC-4C4B-8677-D93AF8E0B1FA</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>D7432DC9-B0D3-444E-B47C-5A375A1DF279</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>vscode</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>vscode, windsurf, cursor(x)</string>
			<key>label</key>
			<string>에디터</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>editor</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://hyeon.pro/dev/alfred-workflow-vscode-project-manager</string>
</dict>
</plist>
